<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="w-auto p-3">
    <div class="card" style="width: 18rem;">
        <img src="catalog/media/about.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">О нас</h5>
            <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять
                основную часть содержимого карты.</p>
        </div>
    </div>
</div>
</body>
</html>