<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
</head>
<body>
<div class="card" style="width: 18rem;">
    <img src="catalog/media/about.jpg" alt="Your Image" width="400" height="400">
    <div class="card-body">
        <h5 class="card-title">О Нас</h5>
        <p class="card-text">Кое какая информация о нашем сайте и о нас,
            которая поможет вам представить вам кто мы</p>
        <a href="/" class="btn btn-primary">На Главную</a>
    </div>
</div>
</body>
</html>