<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование {{ product.name }}</title>
</head>
<body>
    <h1>Редактирование товара</h1>
    <p>Название: {{ product.name }}</p>
    <p>Описание: {{ product.description }}</p>
    <p>Категория: {{ product.category }}</p>

    {% if product.owner == request.user %}
        <a href="{% url 'edit_product' product.id %}">Изменить</a>
    {% else %}
        <p>Редактировать товар может только администратор.</p>
    {% endif %}
</body>
</html>