{% extends 'base.html' %}
{% include 'menu.html' %}
{% block content %}
<h1>Product List</h1>

<ul>
    {% for product in object_list %}
    <li>
        <strong>{{ product.name }}</strong> - {{ product.description }}
        {% if product.id in active_versions %}
        <p>Active Version: {{ active_versions.product.id.version_number }} - {{
            active_versions.product.id.version_name }}</p>
        {% else %}
        <p>No Active Version</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% for product in products %}
        <div>
            <h2>{{ product.name }}</h2>
            <p>{{ product.description|slice:":100" }}</p>
            <p>Price: {{ product.price }}</p>
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
    {% endfor %}
{% endblock %}