<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product Detail</title>
</head>
<body>
    <h1>Детальная карточка товара</h1>
    <p>Product Name: {{ product.name }}</p>
    <p>Product Description: {{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    
    <!-- Check if there is an image associated with the product -->
    {% if product.image %}
         <img src="{{ product.image.url }}" alt="Product Image">
    {% else %}
        <p>No image available for this product.</p>
    {% endif %}

    <form method="post" action="{% url 'catalog:product_delete' pk=product.pk %}">
        {% csrf_token %}
        <input type="submit" value="Удалить товар">
    </form>
</body>
</html>