<!-- product_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Product Detail</title>
</head>
<body>
    <h1>Product Detail</h1>
    <p>Product Name: {{ product.name }}</p>
    <p>Product Description: {{ product.description }}</p>
    
    <!-- Check if there is an image associated with the product -->
    {% if product.image %}
         <img src="{{ product.image.url }}" alt="Product Image">
    {% else %}
        <p>No image available for this product.</p>
    {% endif %}
</body>
</html>