<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Product</title>
</head>
<body>
    <h1>Вы уверены, что хотите удалить товар "{{ product.name }}"?</h1>
    <form action="{% url 'catalog:product_delete' object.pk %}" method="post">
    
        {% csrf_token %}
        <input type="submit" value="Подтвердить удаление">
    </form>
</body>
</html>