{% extends 'base.html' %}
{% include 'menu.html' %}
{% block content %}
    <h1>Каталог товаров</h1>

    {% for product in products %}
        <div>
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            
            <!-- Check if the product has an image associated with it -->
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <p>Нет фото для этого товара</p>
            {% endif %}
        </div>
    {% endfor %}
    
    {% for product in products_with_active_version %}
        <p>Active Version: {{ product.active_version_name }}</p>
    {% endfor %}
    
    {% if product.active_version %}
        <h2>Active Version</h2>
        <p>Version Number: {{ product.active_version.version_number }}</p>
        <p>Version Name: {{ product.active_version.version_name }}</p>
        <p>Is Current Version: {{ product.active_version.is_current_version }}</p>
    {% else %}
        <p>Нет активной версии данного твоара</p>
    {% endif %}
{% endblock %}