<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ product.name }}</title>
</head>
<body>
    <h1>Детальная карточка товара</h1>
    <p>Название: {{ product.name }}</p>
    <p>Описание: {{ product.description }}</p>
    <p>Цена: {{ product.price }}</p>
    
    <h2>Categories:</h2>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    
    {% if product.owner == request.user %}
        <a href="{% url 'edit_product' product.id %}">Edit Product</a>
    {% endif %}
    
    <!-- Check if there is an image associated with the product -->
    {% if product.image %}
         <img src="{{ product.image.url }}" alt="Product Image">
    {% else %}
        <p>Нет изображения этого товара</p>
    {% endif %}

    <form method="post" action="{% url 'catalog:product_delete' pk=product.pk %}">
        {% csrf_token %}
        <input type="submit" value="Удалить товар">
    </form>
</body>
</html>